/** global element styling **/

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  padding: 15px 20px;
  background: #00172d;
}

.navbar h2 {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/*  background: #800000; Maroon*/
  min-height: 100vh;
  max-width: 100%;
  background: url(https://drnavnath.files.wordpress.com/2016/06/depositphotos_13732950-background-of-old-vintage-newspapers.jpg);
}

@media (max-width: 991px) {
  .container {
    flex-wrap: wrap;
  }
}

.write-article-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  background: #008000; Green*/
  max-width: 100%;
  padding: 40px 20px;
  margin: 20px 15px;
  width: 360px;
  min-height: 500px;
  background: #111111;
}

@media (max-width: 991px) {

  .write-article-box {
    width: 330px;
  }

}

#title, #article-content, #form {
  margin: 15px 20px;
  padding: 12px 15px;
}

#title {
  width: 300px;
}

#btn {
  background: #1167b1;
  color: #fff;
  padding: 5px;
}

#dropdown {
  padding: 4px 8px;
  margin-right: 20px;
}

#article-content {
  width: 300px;
  height: 200px;
}

.news-items-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  background: #ff8c00; Orange*/
  max-width: 100%;
  padding: 40px 20px;
  margin: 20px 15px;
  width: 400px;
  min-height: 500px;
  background: #111111;
}

@media (max-width: 991px) {
  .news-items-box {
    width: 330px;
  }
}

.article-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
/*  background: #1b1b1b; black*/
  height: 90px;
  width: 300px;
  padding: 6px 12px;
  margin: 4px 6px;
  background: #fff;
}

.article-details {
  overflow: hidden;
}

.article-details h3, .article-details p {
  color: #000;
}

.article-details h3 {
  font-size: 17px;
}

.article-details p {
  font-size: 14px;
}

.article-img img {
  width: 60px;
  height: 60px;
}

.news-items-box .heading {
  margin: 8px 0 10px;
}

.just-third-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  background: #1167b1; blue*/
  max-width: 100%;
  padding: 40px 20px;
  margin: 20px 15px;
  width: 400px;
  min-height: 500px;
  background: #111111;
}


@media (max-width: 991px) {
  .just-third-box {
    width: 330px;
  }
}

#article-count {
  width: 354px;
/*  background: #02075d; dark blue*/
  background: #fff;
  padding: 15px 20px;
}

#article-count p {
  color: #000;
}

#fun-news {
  min-height: 300px;
/*  background: #581845;*/
  background: #212931;
}

@media (max-width: 991px) {
  #article-count {
  width: 310px;
  }

  #fun-news {
    background: transparent;
  }
}

